<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>体检</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- //online-fonts -->
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
            <h1>
                <a class="navbar-brand text-white" href="index.html">
                    百康诊所
                </a>
            </h1>
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="index.html">主页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-3 mt-lg-0 mt-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            人员信息
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="doctor.html">医生</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="patient.html">患者</a>
                        </div>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="appointmentDoctor.html">预约
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item  mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="appointment.html">我的预约
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="checkups.html">体检
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-3 mt-lg-0 mt-3" v-if="userType==2">
                        <a class="nav-link dropdown-toggle" role="button" href="#"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            管理
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="medicine.html">药品管理</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="schedule.html">排班</a>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link" href="login.html">登录</a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a href="information.html" class="nav-link" id="username"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="inner-banner">
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">主页</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">体检</li>
        </ol>
    </nav>
    <section class="wthree-row pt-sm-3  pb-sm-5 pb-3">
        <div class="container py-4">
            <div>
                <template style="margin-top: 200px" v-if=userType!=0>
                    <!--搜索表单-->
                    <el-form :inline="true" :model="checkup" class="demo-form-inline" style="margin-left: 20px">

                        <el-form-item label="根据体检编号搜索">
                            <el-input v-model="checkups.checkupId" placeholder="患者病例ID"></el-input>
                        </el-form-item>

                        <el-form-item label="体检日期">
                            <el-date-picker v-model="checkups.checkupDate" type="date"
                                            placeholder="选择体检日期"></el-date-picker>
                        </el-form-item>

                        <el-form-item label="体检人员账号">
                            <el-input v-model="checkup.userID" placeholder="">
                            </el-input>
                        </el-form-item>

                        <el-form-item label="姓名">
                            <el-input v-model="checkup.user.username" placeholder="姓名">
                            </el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" v-if="userType!=0" @click="getUserHeartRates()">查看用户的心率波动
                            </el-button>
                            <el-button type="primary" v-else @click="getMyHeartRates()">查看用户的心率波动</el-button>
                            <el-button type="primary" @click="onSubmit()">查询</el-button>
                            <el-button type="primary" @click="onReset()">重置</el-button>
                            <el-button type="primary" data-toggle="modal" data-target="#add"
                                       @click="beforeAdd" v-if="userType==1">
                                新增
                            </el-button>
                        </el-form-item>
                    </el-form>

                    <el-table
                            :data="checkups"
                            style="width: 100%"
                            :row-class-name="tableRowClassName"
                            @selection-change="handleSelectionChange"
                    >
                        <el-table-column
                                prop="checkupId"
                                label="体检报告ID"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="doctorID"
                                label="主治医师ID"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="userID"
                                label="账号"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="checkupDate"
                                label="体检日期"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="bloodPressure"
                                label="血压"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="heartRate"
                                label="心率"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="height"
                                align="center"
                                label="身高">
                        </el-table-column>

                        <el-table-column
                                prop="weight"
                                align="center"
                                label="体重">
                        </el-table-column>

                        <el-table-column
                                prop="lungCapacity"
                                align="center"
                                label="肺活量">
                        </el-table-column>

                        <el-table-column
                                prop="otherParameters"
                                align="center"
                                label="其他">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                label="操作">
                            <el-row slot-scope="scope">
                                <el-button type="primary" data-toggle="modal" data-target="#add" v-if="userType!=0"
                                           @click="beforeUpdate(scope.row)">编辑
                                </el-button>
                                <br><br>
                                <el-button type="primary" v-if="userType!=0"
                                           @click="deleteCheckups(scope.row.checkupsId)">
                                    删除
                                </el-button>
                            </el-row>
                        </el-table-column>
                    </el-table>
                </template>
                <div v-else>
                    <el-table
                            :data="checkups"
                            style="width: 100%"
                            :row-class-name="tableRowClassName"
                            @selection-change="handleSelectionChange"
                    >
                        <el-table-column
                                prop="patientID"
                                label="患者病例ID"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="doctor.user.username"
                                label="主治医师姓名"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="userID"
                                label="账号"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="user.username"
                                label="姓名"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="user.phone"
                                label="电话"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="user.address"
                                label="地址"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="symptoms"
                                align="center"
                                label="症状">
                        </el-table-column>

                        <el-table-column
                                prop="medicine"
                                align="center"
                                label="用药">
                        </el-table-column>

                        <el-table-column
                                prop="createTime"
                                align="center"
                                label="创建时间">
                        </el-table-column>

                        <el-table-column
                                prop="modifyTime"
                                align="center"
                                label="修改时间">
                        </el-table-column>
                    </el-table>
                </div>
            </div>
            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" v-if="updateFlag==0">新增体检报告</h5>
                            <h5 class="modal-title" v-else>编辑体检报告</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" v-if="updateFlag==0">
                                <label class="col-form-label">患者账号</label>
                                <input v-model="checkup.userID" class="form-control" placeholder=" "
                                       required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">体检日期</label>
                                <el-date-picker v-model="checkup.checkupDate" type="date"
                                                placeholder="选择体检日期"></el-date-picker>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">血压</label>
                                <input class="form-control" v-model="checkup.bloodPressure" placeholder=" "
                                       required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">心率</label>
                                <input class="form-control" v-model="checkup.heartRate" placeholder=" "
                                       required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">身高</label>
                                <input class="form-control" v-model="checkup.height" placeholder=" "
                                       required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">体重</label>
                                <input class="form-control" v-model="checkup.weight" placeholder=" "
                                       required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">肺活量</label>
                                <input class="form-control" v-model="checkup.lungCapacity" placeholder=" "
                                       required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">其他</label>
                                <input class="form-control" v-model="checkup.otherParameters" placeholder=" "
                                       required="">
                            </div>
                            <div class="right-w3l">
                                <input @click="addCheckups" type="submit" class="form-control" value="确定">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="modal fade" id="updateMedicine" tabindex="-1" role="dialog" aria-hidden="true">-->
            <!--                <div class="modal-dialog modal-dialog-centered" role="document">-->
            <!--                    <div class="modal-content">-->
            <!--                        <div class="modal-header">-->
            <!--                            <h5 class="modal-title">开药</h5>-->
            <!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--                                <span aria-hidden="true">&times;</span>-->
            <!--                            </button>-->
            <!--                        </div>-->
            <!--                        <div class="modal-body">-->
            <!--                            <div class="form-group">-->
            <!--                                <label class="col-form-label">患者姓名</label>-->
            <!--                                <input type="text" :disabled="true" class="form-control" v-model="patient.user.username"-->
            <!--                                       placeholder=" "-->
            <!--                                       required="">-->
            <!--                            </div>-->
            <!--                            <div>-->
            <!--                                <label class="col-form-label">药品：</label>-->
            <!--                                <select id="medicine" v-model="medicine">-->
            <!--                                    <option v-for="medicine in medicines" :key="medicine.id" :value="medicine">-->
            <!--                                        药品名称：{{ medicine.name-->
            <!--                                        }}产地：{{medicine.address}}厂家：{{medicine.supplier}}生产日期：{{medicine.createTime}}批号：{{medicine.batchNumber}}规格：{{medicine.specification}}-->
            <!--                                    </option>-->
            <!--                                </select><br>-->
            <!--                                <label class="col-form-label">数量：</label>-->
            <!--                                <input type="number" id="quantity" v-model="medicine.useCount" required>-->
            <!--                                <button type="submit" @click="commit">继续开药</button>-->
            <!--                            </div>-->
            <!--                            <div>-->
            <!--                                <label class="col-form-label">已开药品：</label>-->
            <!--                                &lt;!&ndash;                                <input type="text" v-model.number="patient.medicine"><br>&ndash;&gt;-->
            <!--                                <div v-for="(medicine, index) in patient.medicines" :key="index">-->
            <!--                                    <span>{{ medicine.name }} : {{medicine.useCount}}</span>-->
            <!--                                    <button @click="removeMedicine(index,medicine)">删除</button>-->
            <!--                                </div>-->
            <!--                                <label class="col-form-label">总价格：</label>-->
            <!--                                <input type="text" v-model.number="patient.cost"> 元-->
            <!--                            </div>-->
            <!--                            <div class="right-w3l">-->
            <!--                                <input @click="updateMedicine" type="submit" class="form-control" value="确定">-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </section>
</div>
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/jquery.chocolat.js"></script>
<script type="text/javascript">
    $(function () {
        $('.gallery-grid1 a').Chocolat();
    });
</script>
<script src="../js/move-top.js"></script>
<script src="../js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
    // 从 sessionStorage 中获取用户名
    const username = sessionStorage.getItem('name');
    console.log(sessionStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }
</script>
<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>

<script>
    new Vue({
        el: "#app",
        methods: {
            hideModel() {
                $('#add').modal('hide');
                $('#updateMedicine').modal('hide');
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            getUserHeartRates() {
                if (this.checkup.userID == null) {
                    alert("请输入要查看的用户账号")
                } else {
                    axios({
                        method: 'get',
                        url: 'http://localhost:9080/checkups/getUserHeartRatesWithDate',
                        data: this.checkup,
                        headers: { // 设置请求头
                            Authorization: sessionStorage.getItem("token")
                        }
                    }).then(function (response) {
                        if (response.data.code == 20041) {
                            _this.checkups = response.data.data
                        } else {
                            alert(response.data.msg)
                        }
                    });
                }
            },
            openDialog(merchantID) {
                this.dialogVisible = true;
                this.showSalesStatistics(merchantID);
            },
            async showSalesStatistics(merchantID) {
                // 异步加载 Chart.js
                await import('https://cdn.jsdelivr.net/npm/chart.js');
                let self = this; // 保存 Vue 实例的上下文
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/merchant/byMerchant/'+merchantID,
                    headers: {
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        self.data = response.data.data; // 使用保存的上下文访问 Vue 实例的属性

                        const labels = Object.keys(self.data);
                        const values = Object.values(self.data);

                        // 创建柱形图
                        const ctx = document.getElementById('salesChart').getContext('2d');
                        if (this.chartInstance) {
                            this.chartInstance.destroy();
                        }
                        this.chartInstance = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Sales',
                                    data: values,
                                    backgroundColor: 'rgba(54, 162, 235, 0.6)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            getMyHeartRates() {

            },
            // 查询方法
            onSubmit() {
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/checkups/select',
                    data: this.checkup,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.checkups = response.data.data
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            //重置查询
            onReset() {
                this.beforeAdd()
                this.onSubmit()
            },
            beforeAdd() {
                this.updateFlag = 0
                this.checkup = {}
            },
            beforeUpdate(rowDate) {
                this.checkup = rowDate
                this.updateFlag = 1
            },
            getMyCheckups() {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/checkups/getCheckups',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                    // responseType: 'stream'
                }).then(function (response) {
                    _this.checkups = response.data.data
                });
            },
            addCheckups() {
                let _this = this
                if (this.updateFlag == 1) {
                    axios({
                        method: 'put',
                        url: 'http://localhost:9080/checkups/update',
                        data: this.checkup,
                        headers: { // 设置请求头
                            Authorization: sessionStorage.getItem("token")
                        }
                    }).then(function (response) {
                        if (response.data.code == 20031) {
                            _this.beforeAdd()
                            _this.getMyCheckups()
                        } else {
                            alert(response.data.msg)
                        }
                    });
                } else {
                    axios({
                        method: 'post',
                        url: 'http://localhost:9080/checkups/add',
                        data: this.checkup,
                        headers: { // 设置请求头
                            Authorization: sessionStorage.getItem("token")
                        }
                    }).then(function (response) {
                        if (response.data.code == 20011) {
                            _this.beforeAdd()
                            _this.getMyCheckups()
                        } else {
                            alert(response.data.msg)
                        }
                    });
                }
                this.hideModel()
            },
            beforeUpdate(rowDate) {
                this.checkup = rowDate
                this.updateFlag = 1
            },
            deleteCheckups(checkupId) {
                let _this = this
                axios({
                    method: 'delete',
                    url: 'http://localhost:9080/checkups/delete/' + checkupId,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20021) {
                        _this.onSubmit()
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            beforeDestroy() {
                // 移除页面关闭事件监听器，防止内存泄漏
                window.removeEventListener('beforeunload', this.clearsessionStorage);
            },
            clearsessionStorage() {
                sessionStorage.clear()
            }
        },
        data() {
            return {
                userType: sessionStorage.getItem('userType'),
                userId: sessionStorage.getItem('userID'),
                updateFlag: 0,
                // 当前页码
                currentPage: 1,
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                checkups: [],
                checkup: {
                    user: {
                        username: '',
                        phone: '',
                        address: ''
                    },
                },
                medicines: [],
                updateMedicines: [],
                medicine: {},
            }
        },
        mounted: function () {
            let _this = this;
            if (sessionStorage.getItem("userType") == 1) {
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/checkups/getCheckups',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                    // responseType: 'stream'
                }).then(function (response) {
                    _this.checkups = response.data.data
                });
            } else if (sessionStorage.getItem("userType") == 2) {
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/checkups/getAll',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                    // responseType: 'stream'
                }).then(function (response) {
                    _this.checkups = response.data.data
                });
            } else if (sessionStorage.getItem("userType") == 0) {
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/checkups/getme',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                    // responseType: 'stream'
                }).then(function (response) {
                    _this.checkups = response.data.data
                });
            }
            // window.addEventListener('beforeunload', this.clearsessionStorage);
        }
    })
</script>
</body>
</html>