<!DOCTYPE html>
<html lang="zxx">
<meta charset="UTF-8">
<head>
    <title>医生信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content=""/>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

    <script src="../js/axios-0.18.0.js"></script>

    <script type="text/javascript" src="../js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="../js/jquery.superslide.2.1.1.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
        <h1>
            <a class="navbar-brand text-white" href="index.html">
                百康诊所
            </a>
        </h1>
        <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto text-center">
                <li class="nav-item mr-3 mt-lg-0 mt-3">
                    <a class="nav-link" href="index.html">主页
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item  mr-3 mt-lg-0 mt-3">
                    <a class="nav-link" href="services.html">services</a>
                </li>
                <li class="nav-item dropdown active mr-3 mt-lg-0 mt-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        人员信息
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="doctor.html">医生</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="patient.html">患者</a>
                    </div>
                </li>
                <li class="nav-item mr-3 mt-lg-0 mt-3">
                    <a class="nav-link" href="gallery.html">222222222222</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">联系我们</a>
                </li>
                <li>
                    <a class="nav-link" href="login.html">登录</a>
                </li>
                <li><span class="nav-link" id="username"></span></li>
            </ul>
        </div>
    </nav>
</header>
<div class="inner-banner">
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">主页</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">医生信息</li>
    </ol>
</nav>
<section class="wthree-row w3-contact py-lg-5">
    <div id="app" class="container py-4">
        <div>
            <template style="margin-top: 200px" v-if=administrator!=1>
                <el-table
                        :data="doctors"
                        style="width: 100%"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange"
                >
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>

                    <el-table-column
                            prop="doctorID"
                            label="id"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="userID"
                            label="身份证号"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="user.username"
                            label="姓名"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="user.phone"
                            label="电话"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="user.address"
                            label="地址"
                            align="center"
                    >
                    </el-table-column>
                    <!--            <el-table-column-->
                    <!--                    align="center"-->
                    <!--                    label="图片">-->
                    <!--                <template slot-scope="scope">-->
                    <!--                    <img :src="scope.row.tphoto" width="100" height="100" alt="暂无图片" class="head_pic"/>-->
                    <!--                    &lt;!&ndash;                    <el-button @click="Visible = true,tid=scope.row.tid">修改图片</el-button>&ndash;&gt;-->
                    <!--                </template>-->
                    <!--            </el-table-column>-->

                    <el-table-column
                            prop="department"
                            align="center"
                            label="科室">
                        <!--                <template slot-scope="scope">-->
                        <!--                    <el-row v-if="scope.row.lose==false">拾取</el-row>-->
                        <!--                    <el-row v-if="scope.row.lose==true">丢失</el-row>-->
                        <!--                </template>-->
                    </el-table-column>

                    <el-table-column
                            prop="specialization"
                            align="center"
                            label="擅长">
                        <!--                <template slot-scope="scope">-->
                        <!--                    <el-row v-if="scope.row.isfinish==false">未寻回</el-row>-->
                        <!--                    <el-row v-if="scope.row.isfinish==true">已寻回</el-row>-->
                        <!--                </template>-->
                    </el-table-column>

                    <el-table-column
                            prop="createTime"
                            align="center"
                            label="创建时间">
                    </el-table-column>

                    <el-table-column
                            prop="modifyTime"
                            align="center"
                            label="修改时间">
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="操作">
                        <el-row slot-scope="scope">
                            <a href="#" data-toggle="modal" data-target="#appointment"
                               @click="appointment(scope.row.sid)"
                               class="text-secondary">
                                预约</a>
                            <br><br>
                            <el-button type="primary" @click="update(scope.row.sid)">编辑</el-button>
                            <br><br>
                            <el-button type="primary" @click="delete(scope.row.tid)">删除</el-button>
                        </el-row>
                    </el-table-column>
                </el-table>
            </template>
            <div v-else>
                <div v-for="doctor in doctors">
                    <div v-if="doctor.userID==userId">
                        <el-form :inline="true" align="center">
<!--                            <img :src="getsrc(user)" width="200" height="200" alt="暂无图片"/><br><br>-->
                            <el-button @click="Visible = true">修改图片</el-button><br><br>
<!--                            <el-form-item label="身份证号">-->
<!--                                <p><el-input v-model="user.sid" disabled></el-input></p>-->
<!--                            </el-form-item><br>-->
                            <el-form-item label="姓名">
                                <p><el-input v-model="doctor.user.username" disabled></el-input></p>
                            </el-form-item><br>
                            <el-form-item label="电话">
                                <p><el-input v-model="doctor.user.phone" disabled></el-input></p>
                            </el-form-item><br>
                            <el-form-item label="邮箱">
                                <p><el-input v-model="doctor.user.email" disabled></el-input></p>
                            </el-form-item><br>
                            <el-form-item label="密码">
                                <p><el-input type="password" v-model="doctor.user.password" disabled></el-input></p><br>
<!--                                <el-button type="primary" @click="xiugai()">修改信息</el-button>-->
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="appointment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div>
                    <h3>预约</h3>
                    <!-- stats -->
                    <div class="stats">
                        <div class="stats_inner">
                            <input class="form-control date mb-3" id="datepicker" name="Text"
                                   placeholder="日期" type="text" required="">
                            <button type="submit" class="btn btn-agile btn-block w-100">预约</button>
                        </div>
                    </div>
                    <!-- //stats -->

                </div>

            </div>
        </div>
    </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
    // 从 localStorage 中获取用户名
    const username = localStorage.getItem('name');
    console.log(localStorage.getItem('name'))
    console.log(localStorage.getItem('userID'))
    console.log(localStorage.getItem('userType'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }

</script>

<script>
    new Vue({
        el: "#app",
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },
            //新增
            xinzeng() {
                if (this.name1 != '') {
                    this.dialogVisible = true
                } else {
                    alert("您还未登录")
                    location.href = "login.html"
                }
            },
            //查看发帖人信息
            chakan(sid) {
                console.log(sid)
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/users/' + sid,
                }).then(function (response) {
                    _this.user = response.data.data
                });
                this.Visible1 = true
                console.log(this.name1)
            },
            // 查询方法
            onSubmit() {
                console.log(this.card);
                axios.post("/cards/sel", this.card).then((res) => {
                    console.log("查询成功")
                    //如果成功，跳转到登录
                    if (res.data.code == 20041) {
                        if (this.cards == null) {
                            alert("未搜索到")
                        } else {
                            this.cards = res.data.data;
                        }
                    }
                })
            },
            //重置查询
            onReset() {
                console.log("重置")
                location.reload()
            },
            // 新增帖子
            // addCard() {
            //     let _this = this;
            //     console.log(this.card);
            //     if (this.name1.length != 0) {
            //         if (this.card.title.length != 0) {
            //             axios.post("/cards", this.card).then((res) => {
            //                 console.log("正在新增" + res.data.msg)
            //                 if (res.data.code == 20011) {
            //                     alert("新增成功")
            //                     _this.dialogVisible = false
            //                     location.href = "http://localhost:9080/pages/about.html"
            //                 } else if (res.data.code == 20010) {
            //                     alert(res.data.msg)
            //                 } else {
            //                     alert("其他错误")
            //                 }
            //             })
            //         } else {
            //             alert("请您填写标题")
            //         }
            //     } else {
            //         alert("您还未登录")
            //         location.href = "http://localhost:9080/pages/login.html"
            //     }
            // },
            //修改
            xiugai(tid) {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/cards/sel/' + tid,
                }).then(function (response) {
                    console.log("发送成功")
                    _this.upcard = response.data.data
                    _this.upcard.gaifou = '1';
                });
                this.visible = true
            },
            //修改帖子
            updateCard() {
                let _this = this
                console.log(this.upcard)
                axios.put("/cards", this.upcard).then((res) => {
                    console.log("修改")
                    if (res.data.code == 20031) {
                        alert(res.data.msg)
                        _this.visible = false
                        //刷新页面
                        location.reload()
                    } else if (res.data.code == 20030) {
                        alert(res.data.msg)
                    } else {
                        alert("其他错误")
                    }
                })
            },
        },
        data() {
            return {
                administrator: localStorage.getItem('userType'),
                userId: localStorage.getItem('userID'),
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                // 添加数据对话框是否展示的标记
                Visible: false,
                visible: false,
                Visible1: false,
                tid: '',
                //修改帖子数据
                upcard: {
                    tid: '',
                    lid: '',
                    cid: '',
                    lose: '',
                    title: '',
                    time: '',
                    content: '',
                    tphoto: '',
                    sendtime: '',
                    isfinish: '',
                    gaifou: ''
                },
                card: {
                    tid: '',
                    lid: '',
                    cid: '',
                    lose: '',
                    title: '',
                    time: '',
                    content: '',
                    tphoto: '',
                    sendtime: '',
                    isfinish: '',
                    gaifou: ''
                },
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                doctors: [{
                    doctorID: '',
                    userID: '',
                    user: {
                        username: '',
                        phone: '',
                        address: ''
                    },
                    department: '',
                    specialization: '',
                    createTime: '',
                    modifyTime: ''
                }],
                doctor: {
                    doctorID: '',
                    userID: '',
                    user: {
                        username: '',
                        phone: '',
                        address: ''
                    },
                    department: '',
                    specialization: '',
                    createTime: '',
                    modifyTime: ''
                },
                users: [{
                    sid: '',
                    name: '',
                    phone: '',
                    qq: '',
                    password: '',
                    sphoto: '',
                    administrators: ''
                }],
                user: {
                    sid: '',
                    name: '',
                    phone: '',
                    qq: '',
                    password: '',
                    sphoto: '',
                    administrators: ''
                },
                classifies: [],
                locations: [],
            }
        },
        mounted: function () {
            let _this = this;
            //获取帖子
            axios({
                method: 'get',
                url: 'http://localhost:9080/doctor/getAll',
                headers: { // 设置请求头
                    Authorization: localStorage.getItem("token")
                }
                // responseType: 'stream'
            }).then(function (response) {
                console.log("发送成功")
                //前边的data和后边的data不同，后边的data才自己自定义的
                _this.doctors = response.data.data
            });
            //获取地点
            axios({
                method: 'get',
                url: 'http://localhost:9080/locations',
            }).then(function (response) {
                _this.locations = response.data.data
            });
            //获取物品类别
            console.log(this.classifies)
            axios({
                method: 'get',
                url: 'http://localhost:9080/classify',
            }).then(function (response) {
                _this.classifies = response.data.data
            });
            console.log("classifies" + this.classifies)
        }
    })
</script>

<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>