<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>个人信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
    <link href="../css/minimal-slider.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="screen" property=""/>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- //online-fonts -->
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
            <h1>
                <a class="navbar-brand text-white" href="index.html">
                    百康诊所
                </a>
            </h1>
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item  mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="index.html">主页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-3 mt-lg-0 mt-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            人员信息
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="doctor.html">医生</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="patient.html">患者</a>
                        </div>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="appointmentDoctor.html">预约
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item  mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="appointment.html">我的预约
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="checkups.html">体检
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="myPrescription.html">开药记录
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-3 mt-lg-0 mt-3" v-if="userType==2">
                        <a class="nav-link dropdown-toggle" role="button" href="#"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            管理
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="medicine.html">药品管理</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="schedule.html">排班</a>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link" href="login.html">登录</a>
                    </li>
                    <li class="nav-item active  mr-3 mt-lg-0 mt-3">
                        <a href="information.html" class="nav-link" id="username"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/minimal-slider.js"></script>
    <link rel="stylesheet" href="../css/jquery-ui.css"/>
    <script src="../js/jquery-ui.js"></script>
    <section class="wthree-row w3-contact py-lg-5">
        <div style="margin-top: 100px">
            <template>
                <div>
                    <div style="display: flex; justify-content: center;">
                        <el-form :model="user" :inline="true" align="center">
                            <el-form-item label="姓名">
                                <el-input v-model="user.username" :disabled="!editing"></el-input>
                            </el-form-item>
                            <br>
                            <el-form-item label="电话">
                                <el-input v-model="user.phone" :disabled="!editing"></el-input>
                            </el-form-item>
                            <br>
                            <el-form-item label="邮箱">
                                <el-input v-model="user.email" :disabled="!editing"></el-input>
                            </el-form-item>
                            <br>
                            <el-form-item label="地址">
                                <el-input v-model="user.address" :disabled="!editing"></el-input>
                            </el-form-item>
                            <br>
                            <el-form-item>
                                <el-button v-if="!editing" type="primary" @click="toggleEditing">修改信息</el-button>
                                <el-button v-else type="primary" @click="updateUser">保存</el-button>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="danger" @click="showChangePasswordDialog">修改密码</el-button>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="danger" @click="exitUser">退出登录</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                    <el-table
                            :data="appointments"
                            style="width: 100%"
                            :row-class-name="tableRowClassName"
                            @selection-change="handleSelectionChange"
                    >
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                type="index"
                                width="50">
                        </el-table-column>

                        <el-table-column
                                prop="doctorID"
                                label="医生ID"
                                align="center"
                        >
                        </el-table-column>

                        <el-table-column
                                prop="appointmentDate"
                                label="预约日期"
                                align="center"
                        >
                        </el-table-column>

                        <el-table-column
                                prop="shiftType"
                                label="班次"
                                align="center"
                        >
                        </el-table-column>

                        <el-table-column
                                prop="appointmentNotes"
                                align="center"
                                label="备注">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                label="操作">
                            <el-row slot-scope="scope">
                                <el-button type="primary" data-toggle="modal" data-target="#add"
                                           @click="beforeUpdate(scope.row)"  v-if="userType!=1">编辑
                                </el-button>
                                <br><br>
                                <el-button type="primary" @click="deleteAppointment(scope.row.appointmentID)"  v-if="userType!=1">删除
                                </el-button>
                            </el-row>
                        </el-table-column>
                    </el-table>

                    <el-dialog title="修改密码" :visible.sync="changePasswordDialogVisible">
                        <el-form ref="passwordForm" label-width="100px">
                            <el-form-item label="原密码" prop="oldPassword">
                                <el-input type="password" v-model="user.oldPassword"></el-input>
                            </el-form-item>
                            <el-form-item label="新密码" prop="newPassword">
                                <el-input type="password" v-model="user.password"></el-input>
                            </el-form-item>
                            <el-form-item label="重复密码" prop="confirmPassword">
                                <el-input type="password" v-model="user.rePassword"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="changePasswordDialogVisible = false">取消</el-button>
                            <el-button type="primary" @click="changePassword">确认修改</el-button>
                        </div>
                    </el-dialog>
                </div>
            </template>
            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div>
                            <h3>修改预约</h3>
                            <div class="stats">
                                <select class="form-control date mb-3" v-model="appointment.appointmentDate"
                                        required="">
                                    <option v-for="date in availableDates" :key="date" :value="date.shiftDate">{{
                                        date.shiftDate }}
                                    </option>
                                </select>
                                <label class="col-form-label">备注</label>
                                <input type="text" class="form-control" v-model="appointment.appointmentNotes"
                                       placeholder=" "
                                       required="">
                                <button type="submit" @click="updateAppointment" class="btn btn-agile btn-block w-100">
                                    确定
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/jquery.chocolat.js"></script>
<script type="text/javascript">
    $(function () {
        $('.gallery-grid1 a').Chocolat();
    });
</script>
<script src="../js/move-top.js"></script>
<script src="../js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
    // 从 sessionStorage 中获取用户名
    const username = sessionStorage.getItem('name');
    console.log(sessionStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }
</script>
<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>

<script>
    new Vue({
        el: "#app",
        methods: {
            hideModel() {
                $('#add').modal('hide');
                $('#appointment').modal('hide');
            },
            toggleEditing() {
                this.editing = !this.editing;
            },
            //重置查询
            onReset() {
                let _this = this
                if (this.userType==1){
                    axios({
                        method: 'get',
                        url: 'http://localhost:9080/appointments/getMyAppointment',
                        headers: { // 设置请求头
                            Authorization: sessionStorage.getItem("token")
                        }
                    }).then(function (response) {
                        _this.appointments = response.data.data
                    });
                }else {
                    axios({
                        method: 'get',
                        url: 'http://localhost:9080/appointments/getAll',
                        headers: { // 设置请求头
                            Authorization: sessionStorage.getItem("token")
                        }
                    }).then(function (response) {
                        _this.appointments = response.data.data
                    });
                }
            },
            exitUser(){
                sessionStorage.clear()
                userId=null
                availableDates=[]
                user={}
                appointments= []
                appointment={}
                location.reload();
            },
            updateUser() {
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/user/update',
                    data: this.user,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20031) {
                        this.user = response.data.data
                    } else {
                        alert(response.data.msg)
                    }
                });
                this.editing = false;
            },
            showChangePasswordDialog() {
                this.changePasswordDialogVisible = true;
                this.user.password = null
            },
            changePassword() {
                let _this = this
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/user/updatePassword',
                    data: this.user,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20031) {
                        this.user = response.data.data
                        _this.changePasswordDialogVisible = false;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            beforeUpdate(rowDate) {
                this.appointment = rowDate
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/schedule/weeklyScheduleByDoctorID/' + this.appointment.doctorID,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.availableDates = response.data.data
                        _this.appointment.doctorID = doctorID
                        _this.appointment.userID = sessionStorage.getItem("userID")
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            updateAppointment() {
                let _this = this
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/appointments/update',
                    data: this.appointment,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20031) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
                this.hideModel()
            },
            deleteAppointment(appointmentID) {
                let _this = this
                axios({
                    method: 'delete',
                    url: 'http://localhost:9080/appointments/delete/' + appointmentID,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20021) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
                this.hideModel()
            },
            beforeDestroy() {
                // 移除页面关闭事件监听器，防止内存泄漏
                window.removeEventListener('beforeunload', this.clearsessionStorage);
            },
            clearsessionStorage() {
                sessionStorage.clear()
            }
        },
        data() {
            return {
                userType: sessionStorage.getItem('userType'),
                userId: sessionStorage.getItem('userID'),
                editing: false,
                changePasswordDialogVisible: false,
                availableDates: [], // 存储可用的预约日期
                user: {
                    userID: '',
                    username: '',
                    phone: '',
                    address: '',
                    email: '',
                    password: '',
                    oldPassword: '',
                    rePassword: '',
                    createTime: '',
                    modifyTime: ''
                },
                appointments: [],
                appointment: {
                    doctorID: '',
                    userID: '',
                    appointmentDate: '',
                    appointmentNotes: ''
                },

            }
        },
        mounted: function () {
            let _this = this;
            axios({
                method: 'get',
                url: 'http://localhost:9080/user/userInfo',
                headers: { // 设置请求头
                    Authorization: sessionStorage.getItem("token")
                }
            }).then(function (response) {
                _this.user = response.data.data
            });
            if (this.userType==1){
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/appointments/getMyAppointment',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    _this.appointments = response.data.data
                });
            }else {
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/appointments/getAll',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    _this.appointments = response.data.data
                });
            };
            // window.addEventListener('beforeunload', this.clearsessionStorage);
        }
    })
</script>

<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>