<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <link href="../css/minimal-slider.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="screen" property=""/>
    <!-- online-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body style="background-image: url(../images/bg1.jpg)">
<!-- header -->
<!--<header>-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">-->
<!--        <li>-->
<!--            <button type="button" class="btn  ml-lg-2 w3ls-btn" data-toggle="modal" aria-pressed="false"-->
<!--                    data-target="#exampleModal">-->
<!--                登录-->
<!--            </button>-->
<!--        </li>-->
<!--    </nav>-->
<!--</header>-->

<!-- login  -->
<div style="margin-top: 100px" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label">身份证号</label>
                    <input type="text" class="form-control" v-model="user.userID" placeholder=" " name="Name"
                           id="recipient-name"
                           required="">
                </div>
                <div class="form-group">
                    <label class="col-form-label">密码</label>
                    <input type="password" class="form-control" v-model="user.password" placeholder=" " name="Password"
                           id="password"
                           required="">
                </div>
                <div class="right-w3l">
                    <input @click="login()" type="submit" class="form-control" value="Login">
                </div>
                <div class="row sub-w3l my-3">
                    <div class="col sub-agile">
                        <input type="checkbox" id="brand1" value="">
                        <label class="text-secondary">
                            <span></span>Remember me?</label>
                    </div>
                    <div class="col forgot-w3l text-right">
                        <a href="#" class="text-secondary">Forgot Password?</a>
                    </div>
                </div>
                <p class="text-center dont-do">Don't have an account?
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"
                       class="text-dark font-weight-bold">
                        Register Now</a>

                </p>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
<!--/Register-->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login px-4 mx-auto mw-100">
                    <h5 class="modal-title text-center text-dark mb-4">REGISTER NOW</h5>

                    <div class="form-group">
                        <label class="col-form-label">身份证号</label>
                        <input type="text" class="form-control" id="userID" v-model="user.userID" placeholder=""
                               required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">姓名</label>
                        <input type="text" class="form-control" v-model="user.username" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">邮箱</label>
                        <input type="text" class="form-control" v-model="user.email" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">手机号</label>
                        <input type="text" class="form-control" v-model="user.phone" placeholder="" required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">住址</label>
                        <input type="text" class="form-control" v-model="user.address" placeholder="" required="">
                    </div>

                    <div class="form-group">
                        <label class="mb-2 col-form-label">密码</label>
                        <input type="password" class="form-control" v-model="user.password"
                               placeholder=""
                               required="">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">确定密码</label>
                        <input type="password" class="form-control" v-model="user.rePassword" placeholder=""
                               required="">
                    </div>
                    <div class="reg-w3l">
                        <button @click="addUser()" class="form-control submit mb-4">Register</button>
                    </div>
                    <p class="text-center pb-4">
                        <a href="#" class="text-secondary">By clicking Register, I agree to your terms</a>
                    </p>

                </div>

            </div>

        </div>
    </div>
</div>
<!--//Register-->

<!-- //footer -->
<!-- js -->
<script src="../js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<script src="../js/minimal-slider.js"></script>
<!-- flexSlider (for testimonials) -->
<!-- Calendar -->
<link rel="stylesheet" href="../css/jquery-ui.css"/>
<script src="../js/jquery-ui.js"></script>

<script defer src="../js/jquery.flexslider.js"></script>

<script src="../js/move-top.js"></script>
<script src="../js/easing.js"></script>
<script src="../js/SmoothScroll.min.js"></script>
<!-- //smooth-scrolling-of-move-up -->

<script src="../js/bootstrap.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/vue.js"></script>

<script>
    new Vue({
        el: "#exampleModal",
        data() {
            return {
                user: {
                    userID: '',
                    username: '',
                    password: '',
                    phone: '',
                    email: '',
                    address: '',
                    userType: '',
                    photo: '',
                    rePassword: ''
                },
            }
        },
        methods: {
            /*登录按钮的方法*/
            login() {
                if (this.user.userID.length == 0) {
                    alert("请输入您的身份证号")
                } else if (this.user.password.length == 0) {
                    alert("请输入您的密码")
                } else {
                    localStorage.setItem("password", this.password)
                    localStorage.setItem("name", this.name);
                    axios.post("/user/login", this.user).then((res) => {
                        if (res.data.code == 20041) {
                            console.log("成功")
                            this.user = res.data.data
                            console.log(this.user)
                            localStorage.setItem("token", res.data.data)
                            if (this.user.userType == 0) {
                                //如果是管理员
                                console.log("患者")
                                // location.href = "ad_about.html"
                            } else if (this.user.userType == 1) {
                                console.log("医生")
                                // location.href = "doctor.html"
                            } else if (this.user.userType == 2) {
                                console.log("管理员")
                                // location.href = "doctor.html"
                            }
                        } else if (res.data.code == 20040) {
                            alert(res.data.msg);
                        }
                    })
                }

            },
        }
    })
    new Vue({
        el: "#exampleModalCenter2",
        data() {
            return {
                user: {
                    userID: '',
                    username: '',
                    password: '',
                    phone: '',
                    email: '',
                    address: '',
                    userType: '',
                    photo: '',
                    rePassword: ''
                },
                name: "",
            }
        },
        methods: {
            /*注册按钮的方法*/
            addUser() {
                //将名字和密码存入localstorage中
                localStorage.setItem("password", this.password)
                localStorage.setItem("name", this.name);
                //调用存储
                if (this.user != null) {
                    if (this.user.username.length == 0) {
                        alert("请您输入您的姓名！")
                    } else if (this.user.password.length == 0) {
                        alert("请您输入密码！")
                    } else {
                        axios.post("/user/register", this.user).then((res) => {
                            if (res.data.code == 20011) {
                                //将输入框清空
                                this.name = "";
                                this.password = "";
                                alert(res.data.msg);
                                location.href = "login.html"
                            } else {
                                alert(res.data.msg);
                            }
                        })
                    }
                }
            }
        }
    })
</script>
</body>
</html>