<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>药品管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="../css/chocolat.css" type="text/css" media="screen">
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
            <h1>
                <a class="navbar-brand text-white" href="index.html">
                    百康诊所
                </a>
            </h1>
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item  mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="index.html">主页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-3 mt-lg-0 mt-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            人员信息
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="doctor.html">医生</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="patient.html">患者</a>
                        </div>
                    </li>
                    <li class="nav-item  mr-3 mt-lg-0 mt-3">
                        <a class="nav-link active" href="appointment.html">我的预约
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown active mr-3 mt-lg-0 mt-3" v-if="userType==2">
                        <a class="nav-link dropdown-toggle" role="button" href="#"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            管理
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="medicine.html">药品管理</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="schedule.html">排班</a>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link" href="login.html">登录</a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a href="information.html" class="nav-link" id="username"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="inner-banner">
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">主页</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">药品管理</li>
        </ol>
    </nav>
    <section class="gallery  py-lg-5">
        <div class="container py-4">
            <div>
                <template style="margin-top: 200px">
                    <!--搜索表单-->
                    <el-form :inline="true" :model="medicine" class="demo-form-inline" style="margin-left: 20px">

                        <el-form-item label="根据药品ID搜索">
                            <el-input v-model="medicine.medicineID" placeholder="ID"></el-input>
                        </el-form-item>
                        <el-form-item label="根据药品名称搜索">
                            <el-input v-model="medicine.name" placeholder="名称"></el-input>
                        </el-form-item>

                        <el-form-item label="供货商">
                            <el-input v-model="medicine.supplier" placeholder="供货商">
                            </el-input>
                        </el-form-item>

                        <el-form-item label="产地">
                            <el-input v-model="medicine.address" placeholder="产地">
                            </el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">查询</el-button>
                            <el-button type="primary" @click="onReset">重置</el-button>
                            <el-button type="primary" href="#" data-toggle="modal" data-target="#add"
                                       @click="beforeAdd">
                                新增
                            </el-button>
                        </el-form-item>
                    </el-form>
                    <!--内容-->
                    <el-table
                            :data="medicines"
                            style="width: 100%"
                            :row-class-name="tableRowClassName"
                            @selection-change="handleSelectionChange"
                    >
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                type="index"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="medicineID"
                                label="药品ID"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="药品名称"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="count"
                                label="数量"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="useCount"
                                label="已用数量"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="address"
                                label="产地"
                                align="center"
                        >
                        </el-table-column>
                        </el-table-column>
                        <el-table-column
                                prop="supplier"
                                label="供货商"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="userID"
                                align="center"
                                label="入库人ID">
                        </el-table-column>

                        <el-table-column
                                prop="user.username"
                                align="center"
                                label="入库人姓名">
                        </el-table-column>

                        <el-table-column
                                prop="createTime"
                                align="center"
                                label="创建时间">
                        </el-table-column>

                        <el-table-column
                                prop="modifyTime"
                                align="center"
                                label="修改时间">
                        </el-table-column>

                        <el-table-column
                                prop="price"
                                align="center"
                                label="价格">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                label="操作">
                            <el-row slot-scope="scope">
                                <el-button type="primary" data-toggle="modal" data-target="#add"
                                           @click="beforeUpdate(scope.row)">编辑
                                </el-button>
                                <br><br>
                                <el-button type="primary" @click="deleteMedicine(scope.row)">删除</el-button>
                            </el-row>
                        </el-table-column>
                    </el-table>
                    <!--新增,编辑-->
                    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" v-if="updateFlag==0">新增药品</h5>
                                    <h5 class="modal-title" v-else>编辑药品</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
<!--                                    <div class="form-group" v-if="updateFlag==0">-->
<!--                                        <label class="col-form-label">药品ID</label>-->
<!--                                        <input type="number" class="form-control" v-model="medicine.medicineID"-->
<!--                                               placeholder=" "-->
<!--                                               name="Name"-->
<!--                                               required="">-->
<!--                                    </div>-->
                                    <div class="form-group">
                                        <label class="col-form-label">药品名称</label>
                                        <input type="text" class="form-control" v-model="medicine.name" placeholder=" "
                                               name="Password"
                                               required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">入库数量</label>
                                        <input type="number" class="form-control" v-model="medicine.count"
                                               placeholder=" "
                                               name="Password"
                                               required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">产地</label>
                                        <input type="text" class="form-control" v-model="medicine.address"
                                               placeholder=" "
                                               name="Password"
                                               required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">供应商</label>
                                        <input type="text" class="form-control" v-model="medicine.supplier"
                                               placeholder=" "
                                               name="Password"
                                               required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">价格</label>
                                        <input type="number" class="form-control" v-model="medicine.price"
                                               placeholder=" "
                                               name="Password"
                                               required="">
                                    </div>
                                    <div class="right-w3l">
                                        <input @click="addMedicine" type="submit" class="form-control" value="确定">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </template>
            </div>
        </div>
    </section>
</div>

<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/jquery.chocolat.js"></script>
<script type="text/javascript">
    $(function () {
        $('.gallery-grid1 a').Chocolat();
    });
</script>
<script src="../js/move-top.js"></script>
<script src="../js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
    // 从 localStorage 中获取用户名
    const username = localStorage.getItem('name');
    console.log(localStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }
</script>
<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>

<script>
    new Vue({
        el: "#app",
        methods: {
            hideModel() {
                $('#add').modal('hide');
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            // 查询方法
            onSubmit() {
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/medicines/select',
                    data: this.medicine,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.medicines = response.data.data;
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            //重置查询
            onReset() {
                this.beforeAdd()
                this.onSubmit()
            },
            beforeAdd() {
                this.updateFlag = 0
                this.medicine.medicineID = null
                this.medicine.name = null
                this.medicine.supplier = null
                this.medicine.address = null
                this.medicine.count = null
                this.medicine.useCount = null
                this.medicine.userID = null
                this.medicine.user = null
                this.medicine.createTime = null
                this.medicine.modifyTime = null
                this.medicine.price = null
                this.updateFlag = 0
            },
            addMedicine() {
                let _this = this
                if (_this.updateFlag == 1) {
                    axios({
                        method: 'put',
                        url: 'http://localhost:9080/medicines/update',
                        data: this.medicine,
                        headers: { // 设置请求头
                            Authorization: localStorage.getItem("token")
                        }
                    }).then(function (response) {
                        if (response.data.code == 20031) {
                            _this.onReset()
                        } else {
                            alert(response.data.msg)
                        }
                    });
                } else {
                    axios({
                        method: 'post',
                        url: 'http://localhost:9080/medicines/add',
                        data: this.medicine,
                        headers: { // 设置请求头
                            Authorization: localStorage.getItem("token")
                        }
                    }).then(function (response) {
                        if (response.data.code == 20011) {
                            _this.onReset()
                        } else {
                            alert(response.data.msg)
                        }
                    });
                }
                this.hideModel()
            },
            beforeUpdate(rowDate) {
                this.medicine = rowDate
                this.updateFlag = 1
            },
            deleteMedicine(rowDate) {
                let _this = this
                this.medicine = rowDate
                axios({
                    method: 'delete',
                    url: 'http://localhost:9080/medicines/delete/' + this.medicine.medicineID,
                    headers: { // 设置请求头
                        Authorization: localStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20021) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
            }
        },
        data() {
            return {
                userType: localStorage.getItem('userType'),
                userId: localStorage.getItem('userID'),
                updateFlag: 0,
                // 当前页码
                currentPage: 1,
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                medicines: [{
                    medicineID: '',
                    name: '',
                    count: '',
                    useCount: '',
                    address: '',
                    supplier: '',
                    userID: '',
                    user: {},
                    createTime: '',
                    modifyTime: '',
                    price: ''
                }],
                medicine: {
                    medicineID: '',
                    name: '',
                    count: '',
                    useCount: '',
                    address: '',
                    supplier: '',
                    userID: '',
                    user: {},
                    createTime: '',
                    modifyTime: '',
                    price: ''
                }
            }
        },
        mounted: function () {
            let _this = this;
            axios({
                method: 'get',
                url: 'http://localhost:9080/medicines/getAll',
                headers: { // 设置请求头
                    Authorization: localStorage.getItem("token")
                }
                // responseType: 'stream'
            }).then(function (response) {
                _this.medicines = response.data.data
            });
        }
    })
</script>
</body>
</html>