<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>药品管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="../css/chocolat.css" type="text/css" media="screen"><!-- //Gallery Css -->
    <!-- font-awesome icons -->
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- //online-fonts -->
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
        <h1>
            <a class="navbar-brand text-white" href="index.html">
                Alleviating
            </a>
        </h1>
        <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto text-center">
                <li class="nav-item  mr-3 mt-lg-0 mt-3">
                    <a class="nav-link" href="index.html">主页
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item  mr-3 mt-lg-0 mt-3">
                    <a class="nav-link" href="services.html">服务</a>
                </li>
                <li class="nav-item dropdown mr-3 mt-lg-0 mt-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        人员信息
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="doctor.html">医生</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="patient.html">患者</a>
                    </div>
                </li>
                <li class="nav-item active mr-3 mt-lg-0 mt-3">
                    <a class="nav-link" href="medicine.html">药品管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">联系我们</a>
                </li>
                <li>
                    <a class="nav-link" href="login.html">登录</a>
                </li>
                <li><span class="nav-link" id="username"></span></li>
            </ul>
        </div>
    </nav>
</header>
<div class="inner-banner">
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">主页</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">药品管理</li>
    </ol>
</nav>
<section class="gallery  py-lg-5">
    <div id="app" class="container py-4">
        <div>
            <template style="margin-top: 200px">
                <!--搜索表单-->
                <el-form :inline="true" :model="medicine" class="demo-form-inline" style="margin-left: 20px">

                    <el-form-item label="根据药品ID搜索">
                        <el-input v-model="medicine.medicineID" placeholder="根据标题搜索"></el-input>
                    </el-form-item>
                    <el-form-item label="根据药品名称搜索">
                        <el-input v-model="medicine.name" placeholder="根据名称搜索"></el-input>
                    </el-form-item>

                    <el-form-item label="供货商">
                        <el-input v-model="medicine.supplier" placeholder="状态">
                        </el-input>
                    </el-form-item>

                    <el-form-item label="产地">
                        <el-input v-model="medicine.address" placeholder="姓名">
                        </el-input>
                        <!--                        <select slot-scope="scope" v-model="patient.user.username" placeholder="姓名">-->
                        <!--                            <option v-for="classify in classifies" @click="patient.cid=scope.row.classify">-->
                        <!--                                {{classify.classify}}-->
                        <!--                            </option>-->
                        <!--                        </select>-->
                    </el-form-item>

                    <!--                    <el-form-item label="地点">-->
                    <!--                        <select slot-scope="scope" v-model="card.lid" placeholder="地点">-->
                    <!--                            <option v-for="location in locations" @click="card.lid=scope.row.location">-->
                    <!--                                {{location.location}}-->
                    <!--                            </option>-->
                    <!--                        </select>-->
                    <!--                    </el-form-item>-->

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                        <el-button type="primary" @click="onReset">重置</el-button>
                        <!--按钮-->
                        <!--        <el-button type="danger" plain>批量删除</el-button>-->
                        <el-button type="primary" plain @click="xinzeng">新增</el-button>
                    </el-form-item>
                </el-form>

                <el-table
                        :data="medicines"
                        style="width: 100%"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange"
                >
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            prop="medicineID"
                            label="药品ID"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="药品名称"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="count"
                            label="数量"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="useCount"
                            label="已用数量"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="address"
                            label="产地"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="symptoms"
                            label="描述"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="supplier"
                            label="供货商"
                            align="center"
                    >
                    </el-table-column>
                    <!--            <el-table-column-->
                    <!--                    align="center"-->
                    <!--                    label="图片">-->
                    <!--                <template slot-scope="scope">-->
                    <!--                    <img :src="scope.row.tphoto" width="100" height="100" alt="暂无图片" class="head_pic"/>-->
                    <!--                    &lt;!&ndash;                    <el-button @click="Visible = true,tid=scope.row.tid">修改图片</el-button>&ndash;&gt;-->
                    <!--                </template>-->
                    <!--            </el-table-column>-->

                    <el-table-column
                            prop="userID"
                            align="center"
                            label="入库人ID">
                        <!--                <template slot-scope="scope">-->
                        <!--                    <el-row v-if="scope.row.lose==false">拾取</el-row>-->
                        <!--                    <el-row v-if="scope.row.lose==true">丢失</el-row>-->
                        <!--                </template>-->
                    </el-table-column>

                    <el-table-column
                            prop="user.username"
                            align="center"
                            label="入库人姓名">
                    </el-table-column>

                    <!--                    <el-table-column-->
                    <!--                            prop="medicine"-->
                    <!--                            align="center"-->
                    <!--                            label="用药">-->
                    <!--                        &lt;!&ndash;                <template slot-scope="scope">&ndash;&gt;-->
                    <!--                        &lt;!&ndash;                    <el-row v-if="scope.row.isfinish==false">未寻回</el-row>&ndash;&gt;-->
                    <!--                        &lt;!&ndash;                    <el-row v-if="scope.row.isfinish==true">已寻回</el-row>&ndash;&gt;-->
                    <!--                        &lt;!&ndash;                </template>&ndash;&gt;-->
                    <!--                    </el-table-column>-->

                    <el-table-column
                            prop="createTime"
                            align="center"
                            label="创建时间">
                    </el-table-column>

                    <el-table-column
                            prop="modifyTime"
                            align="center"
                            label="修改时间">
                    </el-table-column>

                    <el-table-column
                            prop="price"
                            align="center"
                            label="价格">
                    </el-table-column>

                    <el-table-column
                            align="center"
                            label="操作">
                        <el-row slot-scope="scope">
                            <el-button type="primary" @click="update(scope.row.sid)">编辑</el-button>
                            <br><br>
                            <el-button type="primary" @click="delete(scope.row.tid)">删除</el-button>
                        </el-row>
                    </el-table-column>
                </el-table>
            </template>
        </div>
    </div>
</section>


<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/jquery.chocolat.js"></script>
<script type="text/javascript">
    $(function () {
        $('.gallery-grid1 a').Chocolat();
    });
</script>
<script src="../js/move-top.js"></script>
<script src="../js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
    // 从 localStorage 中获取用户名
    const username = localStorage.getItem('name');
    console.log(localStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }
</script>
<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script>
    new Vue({
        el: "#app",
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

                console.log(this.multipleSelection)
            },
            //新增
            xinzeng() {
                if (this.name1 != '') {
                    this.dialogVisible = true
                } else {
                    alert("您还未登录")
                    location.href = "login.html"
                }
            },
            //查看发帖人信息
            chakan(sid) {
                console.log(sid)
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/users/' + sid,
                }).then(function (response) {
                    _this.user = response.data.data
                });
                this.Visible1 = true
                console.log(this.name1)
            },
            // 查询方法
            onSubmit() {
                axios.post("/medicines/select", this.medicine).then((res) => {
                    //如果成功，跳转到登录
                    if (res.data.code == 20041) {
                        this.medicines = res.data.data;
                    }else {
                        alert(res.data.msg)
                    }
                })
            },
            //重置查询
            onReset() {
                location.reload()
                this.onSubmit()
            },
            // 新增帖子
            // addCard() {
            //     let _this = this;
            //     console.log(this.card);
            //     if (this.name1.length != 0) {
            //         if (this.card.title.length != 0) {
            //             axios.post("/cards", this.card).then((res) => {
            //                 console.log("正在新增" + res.data.msg)
            //                 if (res.data.code == 20011) {
            //                     alert("新增成功")
            //                     _this.dialogVisible = false
            //                     location.href = "http://localhost:9080/pages/about.html"
            //                 } else if (res.data.code == 20010) {
            //                     alert(res.data.msg)
            //                 } else {
            //                     alert("其他错误")
            //                 }
            //             })
            //         } else {
            //             alert("请您填写标题")
            //         }
            //     } else {
            //         alert("您还未登录")
            //         location.href = "http://localhost:9080/pages/login.html"
            //     }
            // },
            //修改
            xiugai(tid) {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/cards/sel/' + tid,
                }).then(function (response) {
                    console.log("发送成功")
                    _this.upcard = response.data.data
                    _this.upcard.gaifou = '1';
                });
                this.visible = true
            },
            //修改帖子
            updateCard() {
                let _this = this
                console.log(this.upcard)
                axios.put("/cards", this.upcard).then((res) => {
                    console.log("修改")
                    if (res.data.code == 20031) {
                        alert(res.data.msg)
                        _this.visible = false
                        //刷新页面
                        location.reload()
                    } else if (res.data.code == 20030) {
                        alert(res.data.msg)
                    } else {
                        alert("其他错误")
                    }
                })
            },
        },
        data() {
            return {
                administrator: localStorage.getItem('userType'),
                userId: localStorage.getItem('userID'),
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                // 添加数据对话框是否展示的标记
                Visible: false,
                visible: false,
                Visible1: false,
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                medicines: [{
                    medicineID: '',
                    name: '',
                    count: '',
                    useCount: '',
                    address: '',
                    symptoms: '',
                    supplier: '',
                    userID: '',
                    user:{},
                    createTime: '',
                    modifyTime: '',
                    price: ''
                }],
                medicine: {
                    medicineID: '',
                    name: '',
                    count: '',
                    useCount: '',
                    address: '',
                    symptoms: '',
                    supplier: '',
                    userID: '',
                    user:{},
                    createTime: '',
                    modifyTime: '',
                    price: ''
                },
                classifies: [],
                locations: [],
            }
        },
        mounted: function () {
            let _this = this;
            axios({
                method: 'get',
                url: 'http://localhost:9080/medicines/getAll',
                headers: { // 设置请求头
                    Authorization: localStorage.getItem("token")
                }
                // responseType: 'stream'
            }).then(function (response) {
                console.log("发送成功")
                //前边的data和后边的data不同，后边的data才自己自定义的
                console.log(response.data.data)
                _this.medicines = response.data.data
            });
            //获取地点
            axios({
                method: 'get',
                url: 'http://localhost:9080/locations',
            }).then(function (response) {
                _this.locations = response.data.data
            });
            //获取物品类别
            console.log(this.classifies)
            axios({
                method: 'get',
                url: 'http://localhost:9080/classify',
            }).then(function (response) {
                _this.classifies = response.data.data
            });
            console.log("classifies" + this.classifies)
        }
    })
</script>
</body>
</html>