<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>患者信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- //online-fonts -->
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        #updateMedicine .modal-dialog {
            max-width: 800px; /* 设置模态框的最大宽度 */
        }
    </style>
</head>
<body>
<div id="app">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
            <h1>
                <a class="navbar-brand text-white" href="index.html">
                    百康诊所
                </a>
            </h1>
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="index.html">主页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown active mr-3 mt-lg-0 mt-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            人员信息
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="doctor.html">医生</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="patient.html">患者</a>
                        </div>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3" v-if="userType==0">
                        <a class="nav-link" href="appointmentDoctor.html">预约
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item  mr-3 mt-lg-0 mt-3" v-if="userType==0">
                        <a class="nav-link" href="appointment.html">我的预约
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="checkups.html">体检
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3" v-if="userType==1">
                        <a class="nav-link" href="myPrescription.html">开药记录
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3" v-if="userType==2">
                        <a class="nav-link" href="pharmacy.html">药房
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3" v-if="userType==2">
                        <a class="nav-link" href="medicine.html" v-if="userType==2">药品管理
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3" v-if="userType==2">
                        <a class="nav-link" href="schedule.html" v-if="userType!=0">排班</a>
                        <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="login.html">登录</a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a href="information.html" class="nav-link" id="username"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="inner-banner">
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">主页</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">患者信息</li>
        </ol>
    </nav>
    <section class="wthree-row pt-sm-3  pb-sm-5 pb-3">
        <div>
            <template style="margin-top: 200px" v-if=userType!=0>
                <!--搜索表单-->
                <el-form :inline="true" :model="patient" class="demo-form-inline" style="margin-left: 20px">

                    <el-form-item label="根据患者病例ID搜索">
                        <el-input v-model="patient.patientID" placeholder="患者病例ID"></el-input>
                    </el-form-item>

                    <el-form-item label="主治医师">
                        <el-input v-model="patient.doctorID" placeholder="主治医师">
                        </el-input>
                    </el-form-item>

                    <el-form-item label="账号">
                        <el-input v-model="patient.userID" placeholder="账号">
                        </el-input>
                    </el-form-item>

                    <el-form-item label="姓名">
                        <el-input v-model="patient.user.username" placeholder="姓名">
                        </el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit()">查询</el-button>
                        <el-button type="primary" @click="onReset()">重置</el-button>
                        <el-button type="primary" data-toggle="modal" data-target="#add"
                                   @click="beforeAdd" v-if="userType==1">
                            新增
                        </el-button>
                    </el-form-item>
                </el-form>

                <el-table
                        :data="patients"
                        style="width: 100%"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange"
                >
                    <el-table-column
                            prop="patientID"
                            label="患者病例ID"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="doctor.user.username"
                            label="主治医师姓名"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="userID"
                            label="账号"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="user.username"
                            label="姓名"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="user.phone"
                            label="电话"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="user.address"
                            label="地址"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="symptoms"
                            align="center"
                            label="症状">
                    </el-table-column>

                    <el-table-column
                            prop="medicine"
                            align="center"
                            label="用药">
                    </el-table-column>

                    <el-table-column
                            prop="createTime"
                            align="center"
                            label="创建时间">
                    </el-table-column>

                    <!--                        <el-table-column-->
                    <!--                                prop="modifyTime"-->
                    <!--                                align="center"-->
                    <!--                                label="修改时间">-->
                    <!--                        </el-table-column>-->

                    <el-table-column
                            align="center"
                            label="操作">
                        <el-row slot-scope="scope">
                            <el-button type="primary" data-toggle="modal" data-target="#updateMedicine"
                                       @click="beforeUpdateMedicine(scope.row)" v-if="shouldShowButton(scope)">开药
                            </el-button>
                            <br><br>
                            <el-button type="primary"
                                       @click="beforeDetail(scope.row)">
                                查看药品详情
                            </el-button>
                            <br><br>
                            <el-button type="primary" data-toggle="modal" data-target="#add" v-if="userType!=0"
                                       @click="beforeUpdate(scope.row)">编辑
                            </el-button>
                            <br><br>
                            <el-button type="primary" v-if="userType!=0" @click="deletePatient(scope.row.doctorID)">
                                删除
                            </el-button>
                        </el-row>
                    </el-table-column>
                </el-table>
            </template>
            <div v-else>
                <el-table
                        :data="patients"
                        style="width: 100%"
                        :row-class-name="tableRowClassName"
                        @selection-change="handleSelectionChange"
                >
                    <el-table-column
                            prop="patientID"
                            label="患者病例ID"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="doctor.user.username"
                            label="主治医师姓名"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="userID"
                            label="账号"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="user.username"
                            label="姓名"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="user.phone"
                            label="电话"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="user.address"
                            label="地址"
                            align="center"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="symptoms"
                            align="center"
                            label="症状">
                    </el-table-column>

                    <el-table-column
                            prop="medicine"
                            align="center"
                            label="用药">
                    </el-table-column>

                    <el-table-column
                            prop="createTime"
                            align="center"
                            label="创建时间">
                    </el-table-column>

                    <el-table-column
                            prop="cost"
                            align="center"
                            label="花费">
                    </el-table-column>
                    <el-table-column
                            align="center"
                            label="操作">
                        <el-row slot-scope="scope">
                            <el-button type="primary"
                                       @click="beforeDetail(scope.row)">
                                查看药品详情
                            </el-button>
                        </el-row>
                    </el-table-column>
                </el-table>
            </div>
        </div>
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-if="updateFlag==0">新增患者</h5>
                        <h5 class="modal-title" v-else>编辑患者</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" v-if="updateFlag==0">
                            <label class="col-form-label">患者账号</label>
                            <input v-model="patient.userID" class="form-control" placeholder=" "
                                   required="">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">症状</label>
                            <input class="form-control" v-model="patient.symptoms" placeholder=" "
                                   required="">
                        </div>
                        <div class="right-w3l">
                            <input @click="addPatient" type="submit" class="form-control" value="确定">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="updateMedicine" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">开药</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label">患者姓名</label>
                            <input type="text" :disabled="true" class="form-control" v-model="patient.user.username"
                                   placeholder=" "
                                   required="">
                        </div>
                        <div>
                            <label class="col-form-label">药品：</label>
                            <select id="medicine" v-model="medicine">
                                <option v-for="medicine in medicines" :key="medicine.id" :value="medicine">
                                    药品名称：{{ medicine.name
                                    }}；产地：{{medicine.address}}；厂家：{{medicine.supplier}}；生产日期：{{medicine.createTime}}；批号：{{medicine.batchNumber}}；规格：{{medicine.specification}}
                                </option>
                            </select><br>
                            <label class="col-form-label">数量：</label>
                            <input type="number" id="quantity" v-model="medicine.useCount" required>
                            <button type="submit" @click="commit">继续开药</button>
                        </div>
                        <div>
                            <label class="col-form-label">已开药品：</label>
                            <!--                                <input type="text" v-model.number="patient.medicine"><br>-->
                            <div v-for="(medicine, index) in patient.medicines" :key="index">
                                <span>{{ medicine.name }} : {{medicine.useCount}}</span>
                                <button @click="removeMedicine(index,medicine)">删除</button>
                            </div>
                            <label class="col-form-label">总价格：</label>
                            <input type="text" v-model.number="patient.cost"> 元
                        </div>
                        <div class="right-w3l">
                            <input @click="updateMedicine" type="submit" class="form-control" value="确定">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template>
            <el-dialog
                    title="药品详细信息"
                    :visible.sync="dialogVisible"
                    width="50%"
            >
                <!-- 在对话框中展示已选药品列表 -->
                <el-card v-for="(medicine, index) in selectedMedicines" :key="index"
                         :body-style="{ padding: '20px' }">
                    <p>药品名称：{{ medicine.name }}</p>
                    <p>数量：{{ medicine.useCount }}</p>
                    <p>价格：{{ medicine.price }}</p>
                    <p>规格：{{ medicine.specification }}</p>
                    <p>批号：{{ medicine.batchNumber }}</p>
                </el-card>
                <div slot="footer">
                    <span>总价：{{ totalPrice }}</span>
                </div>
            </el-dialog>
        </template>
    </section>
</div>
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/jquery.chocolat.js"></script>
<script type="text/javascript">
    $(function () {
        $('.gallery-grid1 a').Chocolat();
    });
</script>
<script src="../js/move-top.js"></script>
<script src="../js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
    // 从 sessionStorage 中获取用户名
    const username = sessionStorage.getItem('name');
    console.log(sessionStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }
</script>
<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>

<script>
    new Vue({
        el: "#app",
        methods: {
            beforeDetail(rowDate) {
                this.dialogVisible = true
                this.totalPrice = rowDate.cost
                this.selectedMedicines = rowDate.medicines
                this.patientID = rowDate.patientID
            },
            hideModel() {
                $('#add').modal('hide');
                $('#updateMedicine').modal('hide');
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            // 查询方法
            onSubmit() {
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/patient/select',
                    data: this.patient,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20041) {
                        _this.patients = response.data.data
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            //重置查询
            onReset() {
                this.beforeAdd()
                this.onSubmit()
            },
            beforeAdd() {
                this.updateFlag = 0
                this.patient.patientID = null
                this.patient.doctorID = null
                this.patient.userID = null
                this.patient.user.username = null
                this.patient.symptoms = null
                this.patient.medicine = null
                this.patient.createTime = null
                this.patient.modifyTime = null
                this.patient.cost = null
            },
            beforeUpdate(rowDate) {
                this.patient = rowDate
                this.updateFlag = 1
                console.log(this.patient)
            },
            getMyPatient() {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/patient/getPatient',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                    // responseType: 'stream'
                }).then(function (response) {
                    console.log("发送成功")
                    //前边的data和后边的data不同，后边的data才自己自定义的
                    _this.patients = response.data.data
                });
            },
            addPatient() {
                let _this = this
                if (this.updateFlag == 1) {
                    axios({
                        method: 'put',
                        url: 'http://localhost:9080/patient/update',
                        data: this.patient,
                        headers: { // 设置请求头
                            Authorization: sessionStorage.getItem("token")
                        }
                    }).then(function (response) {
                        if (response.data.code == 20031) {
                            _this.beforeAdd()
                            _this.getMyPatient()
                        } else {
                            alert(response.data.msg)
                        }
                    });
                } else {
                    axios({
                        method: 'post',
                        url: 'http://localhost:9080/patient/add',
                        data: this.patient,
                        headers: { // 设置请求头
                            Authorization: sessionStorage.getItem("token")
                        }
                    }).then(function (response) {
                        if (response.data.code == 20011) {
                            _this.beforeAdd()
                            _this.getMyPatient()
                        } else {
                            alert(response.data.msg)
                        }
                    });
                }
                this.hideModel()
            },
            beforeUpdate(rowDate) {
                this.patient = rowDate
                this.updateFlag = 1
            },
            deletePatient(patientID) {
                let _this = this
                axios({
                    method: 'delete',
                    url: 'http://localhost:9080/patient/delete/' + patientID,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20021) {
                        _this.onSubmit()
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            shouldShowButton(scope) {
                return this.userType == 1 && scope.row.medicines.length == 0;
            },
            beforeUpdateMedicine(rowDate) {
                this.patient = rowDate
            },
            removeMedicine(index, medicine) {
                this.patient.medicines.splice(index, 1);
                this.patient.cost = this.patient.cost - (medicine.price * medicine.useCount)
            },
            commit() {
                let _this = this
                if (!this.patient.medicines) {
                    this.patient.medicines = [];
                }
                this.patient.medicines.push(this.medicine)
                this.patient.cost = this.patient.cost + (this.medicine.price * this.medicine.useCount)
                _this.medicine = {}
            },
            updateMedicine() {
                let _this = this
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/patient/update',
                    data: this.patient,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (res) {
                    if (res.data.code == 20031) {
                        location.reload()
                    } else {
                        alert(res.data.msg)
                    }
                });
                //    药品数量减少
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/medicines/updateMedicine',
                    data: this.patient.medicines,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (res) {
                    if (res.data.code == 20031) {

                    } else {
                        alert(res.data.msg)
                    }
                });
            },
            beforeDestroy() {
                // 移除页面关闭事件监听器，防止内存泄漏
                window.removeEventListener('beforeunload', this.clearsessionStorage);
            },
            clearsessionStorage() {
                sessionStorage.clear()
            }
        },
        data() {
            return {
                selectedMedicines: [],
                totalPrice: '',
                dialogVisible: false,
                userType: sessionStorage.getItem('userType'),
                userId: sessionStorage.getItem('userID'),
                updateFlag: 0,
                quantity: 0,
                totalPrice: 0,
                submitted: false,
                // 当前页码
                currentPage: 1,
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                patients: [{
                    patientID: '',
                    doctorID: '',
                    userID: '',
                    user: {
                        username: '',
                        phone: '',
                        address: ''
                    },
                    doctor: {},
                    symptoms: '',
                    medicine: '',
                    createTime: '',
                    modifyTime: '',
                    cost: ''
                }],
                patient: {
                    patientID: '',
                    doctorID: '',
                    userID: '',
                    user: {
                        username: '',
                        phone: '',
                        address: ''
                    },
                    symptoms: '',
                    medicines: [{}],
                    medicine: '',
                    createTime: '',
                    modifyTime: '',
                    cost: ''
                },
                medicines: [{
                    medicineID: '',
                    name: '',
                    count: '',
                    useCount: '',
                    address: '',
                    supplier: '',
                    userID: '',
                    user: {},
                    createTime: '',
                    modifyTime: '',
                    price: ''
                }],
                updateMedicines: [{
                    medicineID: '',
                    name: '',
                    count: '',
                    useCount: '',
                    address: '',
                    supplier: '',
                    userID: '',
                    user: {},
                    createTime: '',
                    modifyTime: '',
                    price: ''
                }],
                medicine: {
                    medicineID: '',
                    name: '',
                    count: '',
                    useCount: '',
                    address: '',
                    supplier: '',
                    userID: '',
                    user: {},
                    createTime: '',
                    modifyTime: '',
                    price: ''
                },
                mypatients: []
            }
        },
        mounted: function () {
            let _this = this;
            if (sessionStorage.getItem("userType") == 1) {
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/patient/getPatient',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                    // responseType: 'stream'
                }).then(function (response) {
                    console.log("发送成功")
                    //前边的data和后边的data不同，后边的data才自己自定义的
                    _this.patients = response.data.data
                });
            } else if (sessionStorage.getItem("userType") == 2) {
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/patient/getAll',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                    // responseType: 'stream'
                }).then(function (response) {
                    console.log("发送成功")
                    //前边的data和后边的data不同，后边的data才自己自定义的
                    _this.patients = response.data.data
                    console.log(_this.patients)
                });
            } else if (sessionStorage.getItem("userType") == 0) {
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/patient/getme',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                    // responseType: 'stream'
                }).then(function (response) {
                    console.log("发送成功")
                    //前边的data和后边的data不同，后边的data才自己自定义的
                    _this.patients = response.data.data
                    console.log(_this.patients)
                });
            }
            axios({
                method: 'get',
                url: 'http://localhost:9080/medicines/getAll',
                headers: { // 设置请求头
                    Authorization: sessionStorage.getItem("token")
                }
                // responseType: 'stream'
            }).then(function (response) {
                console.log("发送成功")
                //前边的data和后边的data不同，后边的data才自己自定义的
                _this.medicines = response.data.data
            });
            // window.addEventListener('beforeunload', this.clearsessionStorage);
        }
    })
</script>
</body>
</html>