<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>医护人员排班</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="../css/fontawesome-all.min.css" rel="stylesheet">
    <link href="../css/minimal-slider.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="screen" property=""/>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">
            <h1>
                <a class="navbar-brand text-white" href="index.html">
                    百康诊所
                </a>
            </h1>
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item  mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="index.html">主页
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-3 mt-lg-0 mt-3">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            人员信息
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="doctor.html">医生</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="patient.html">患者</a>
                        </div>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3" v-if="userType==0">
                        <a class="nav-link" href="appointmentDoctor.html">预约
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item  mr-3 mt-lg-0 mt-3" v-if="userType==0">
                        <a class="nav-link" href="appointment.html">我的预约
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a class="nav-link" href="checkups.html">体检
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3" v-if="userType==1">
                        <a class="nav-link" href="myPrescription.html">开药记录
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3" v-if="userType==2">
                        <a class="nav-link" href="pharmacy.html">药房
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active dropdown mr-3 mt-lg-0 mt-3">
                        <a class="nav-link dropdown-toggle" role="button" href="#"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            管理
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="medicine.html" v-if="userType==2">药品管理</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="schedule.html" v-if="userType!=0">排班</a>
                        </div>
                    </li>
                    <li>
                        <a class="nav-link" href="login.html">登录</a>
                    </li>
                    <li class="nav-item mr-3 mt-lg-0 mt-3">
                        <a href="information.html" class="nav-link" id="username"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="inner-banner">
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">主页</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">排班</li>
        </ol>
    </nav>
    <script src="../js/jquery-2.2.3.min.js"></script>
    <script src="../js/minimal-slider.js"></script>
    <link rel="stylesheet" href="../css/jquery-ui.css"/>
    <script src="../js/jquery-ui.js"></script>
    <section class="wthree-row w3-contact py-lg-5">
        <div class="container py-4">
            <template>
                <div>
                    <h3>医护人员排班</h3>
                    <div>
                        <button @click="fetchSchedule()">获取排班信息</button>

                        <template>
                            <el-table
                                    v-if="schedules.length"
                                    :data="schedules"
                                    border
                                    style="width: 100%"
                            >
                                <el-table-column label="医生ID" prop="doctorID"></el-table-column>
                                <el-table-column label="日期" prop="shiftDate"></el-table-column>
                                <el-table-column label="班次" prop="shiftType"></el-table-column>
                                <el-table-column label="是否批准" prop="ishandle">
                                    <template slot-scope="scope">
                                        <span v-if="scope.row.ishandle == 1">已批准</span>
                                        <span v-else-if="scope.row.ishandle == 0">未批准</span>
                                    </template>
                                </el-table-column>

                                <el-table-column
                                        align="center"
                                        label="操作">
                                    <el-row slot-scope="scope">
                                        <el-button type="primary" v-if="userType==2"
                                                   @click="approve(scope.row.scheduleID)">批准
                                        </el-button>
                                        <el-button type="primary" data-toggle="modal" data-target="#update" v-if="userType==2"
                                                   @click="beforeUpdate(scope.row)">编辑
                                        </el-button>
                                        <br><br>
                                        <el-button type="primary" v-if="userType==2" @click="deleteSchedule(scope.row.scheduleID)">删除</el-button>
                                    </el-row>
                                </el-table-column>
                            </el-table>
                        </template>

                        <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">编辑</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input v-model="schedule.scheduleID" class="form-control" placeholder=" "
                                               required="" disabled>
                                        <el-date-picker v-model="schedule.shiftDate" type="date" placeholder="选择排班日期"></el-date-picker>
                                        <el-select v-model="schedule.shiftType" placeholder="选择班次类型">
                                            <el-option label="上午班" value="上午班"></el-option>
                                            <el-option label="下午班" value="下午班"></el-option>
                                        </el-select>
                                        <div class="right-w3l">
                                            <input @click="confirm" type="submit" class="form-control" value="确定">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template v-if="userType==1">
                <div>
                    <el-date-picker v-model="schedule.shiftDate" type="date" placeholder="选择排班日期"></el-date-picker>
                    <el-select v-model="schedule.shiftType" placeholder="选择班次类型">
                        <el-option label="上午班" value="上午班"></el-option>
                        <el-option label="下午班" value="下午班"></el-option>
                    </el-select>
                    <el-button type="primary" @click="submitSchedule">提交申请</el-button>
                </div>
            </template>
        </div>
    </section>
</div>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                userType: sessionStorage.getItem("userType"),
                selectedDate: '',
                schedule: {
                    scheduleID: '',
                    doctorID: '',
                    shiftDate: '',
                    shiftType: '',
                    createTime: '',
                    modifyTime: ''
                },
                schedules:[],
                doctors: [] // 从后端获取的医生列表
            };
        },
        methods: {
            beforeUpdate(rowDate) {
                this.schedule = rowDate
            },
            approve(scheduleID){
                let _this = this
                axios({
                    method: 'put',
                    url: 'http://localhost:9080/schedule/approve/' + scheduleID,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20031) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            deleteSchedule(scheduleID) {
                let _this = this
                axios({
                    method: 'delete',
                    url: 'http://localhost:9080/schedule/delete/' + scheduleID,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20021) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            confirm(){
                let _this = this
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/schedule/update',
                    data: this.schedule,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20031) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
                $('#update').modal('hide');
            },
            //重置查询
            onReset() {
                this.schedule = {}
                this.fetchSchedule()
            },
            fetchSchedule() {
                let _this = this
                axios({
                    method: 'get',
                    url: 'http://localhost:9080/schedule/weeklySchedule',
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    _this.schedules = response.data.data
                });
            },
            submitSchedule() {
                let _this = this
                console.log(this.schedule)
                axios({
                    method: 'post',
                    url: 'http://localhost:9080/schedule/add',
                    data: this.schedule,
                    headers: { // 设置请求头
                        Authorization: sessionStorage.getItem("token")
                    }
                }).then(function (response) {
                    if (response.data.code == 20011) {
                        _this.onReset()
                    } else {
                        alert(response.data.msg)
                    }
                });
            },
            beforeDestroy() {
                // 移除页面关闭事件监听器，防止内存泄漏
                window.removeEventListener('beforeunload', this.clearsessionStorage);
            },
            clearsessionStorage() {
                sessionStorage.clear()
            }
        },
        mounted: function () {
            let _this = this;
            axios({
                method: 'get',
                url: 'http://localhost:9080/doctor/getAll',
                headers: { // 设置请求头
                    Authorization: sessionStorage.getItem("token")
                }
                // responseType: 'stream'
            }).then(function (response) {
                _this.doctors = response.data.data
            });
            // window.addEventListener('beforeunload', this.clearsessionStorage);
        }
    });
</script>

<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/jquery.chocolat.js"></script>
<script type="text/javascript">
    $(function () {
        $('.gallery-grid1 a').Chocolat();
    });
</script>
<script src="../js/move-top.js"></script>
<script src="../js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<script>
    $(document).ready(function () {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
    // 从 sessionStorage 中获取用户名
    const username = sessionStorage.getItem('name');
    console.log(sessionStorage.getItem('name'))
    // 显示用户名在页面上
    if (username != null) {
        document.getElementById('username').textContent = username;
    } else {
        document.getElementById('username').textContent = 'Guest';
    }
</script>
<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/SmoothScroll.min.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>